<!DOCTYPE html>
<html>
<head>
	<title></title>
     {%  load static  %}

    <link href="{% static 'scs/css/style.css' %}" type="text/css" rel="stylesheet" />

</head>
<body>
<div id="container">	

<div id="header">
<ul>
	<li><a href="home">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="gallery">Gallery</a></li>
</ul>
</div>
<div id="middle">
     <h1>CONTACT US</h1>
	<p> Our home-solutions firm, Nestaway, was established in Bengaluru by Amarendra Sahu, Deepak Dhar, Jitendra Jagadev and Smruti Parida in January 2015. All four founders had experienced a common problem – finding a home in the big city. Young people faced different kinds of discrimination. Single women and bachelors are considered unreliable. Migrants from other places are viewed with suspicion as they appear as ‘foreigners’ in a new city. Further, many newcomers did not have the knowhow to get around, lacking access to local insights in a new city.

We concluded that people leaving homes to relocate to another city needed more than just a house. They needed a place they could call home, a community where they would be accepted and a platform which allows connections to various other access points. </p>

<p> At Nestaway we soon realized that it was necessary to go beyond basics and create a platform that could do much more than just solve the immediate problems of space and peripherals. With globalization and communication taking a forefront, we are aware that society is becoming more disparate. Our response to this is - No city should be a stranger; no person should feel discriminated.

The philosophy behind Nestaway grew to create an inclusive living environment where youth have choices but are also required to take ownership. Tenants would have options so that they could choose according to their budget and personal preferences. The burden on owners would get reduced - to look for responsible tenants, do background checks and chase after tenants to pay in their dues. In the future, we believe Nestaway as a platform will grow in many other directions, with housing as the core focus. </p>

<p>
	

What is Lorem Ipsum?

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</p>

</div>
<div id="footer">
  <span>&copy;2019 by SCS</span>
</div>
</div>
</body>
</html>