<!DOCTYPE html>
<html>
<head>
	<title></title>
    {%  load static  %}

    <link href="{% static 'scs/css/style.css' %}" type="text/css" rel="stylesheet" />

</head>
<body>
<div id="container">	

<div id="header">
<ul>
	<li><a href="home">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="gallery">Gallery</a></li>
</ul>
</div>
<div id="middle" style=" overflow-y: scroll;">
	
 <div class="part">
<iframe width="400" height="300" src="https://www.youtube.com/embed/gdS2Q0uI2bA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


 </div>
  <div class="part">

<iframe width="400" height="300" src="https://www.youtube.com/embed/gdS2Q0uI2bA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


 </div>
  <div class="part">
<iframe width="400" height="300" src="https://www.youtube.com/embed/gdS2Q0uI2bA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



 </div>
  <div class="part">

<iframe width="400" height="300" src="https://www.youtube.com/embed/gdS2Q0uI2bA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


 </div>
  <div class="part">
<iframe width="400" height="300" src="https://www.youtube.com/embed/gdS2Q0uI2bA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



 </div>
  <div class="part">

<iframe width="400" height="300" src="https://www.youtube.com/embed/gdS2Q0uI2bA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


 </div>
  <div class="part">

<iframe width="400" height="300" src="https://www.youtube.com/embed/gdS2Q0uI2bA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


 </div>


</div>
<div id="footer">
  <span>&copy;2019 by SCS</span>
</div>
</div>
</body>
</html>