<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="icon" type="image/png" href="fb.png"/>
   {% load static %}
</head>
<body style="margin: 0px;">
	<!-- Header Start  -->
   <div style="background-color:#3B5998;height: 100px;">
   	<div style="float:left;margin-top: 20px;width:40%;"><img src="{% static 'customer/img/fb.png' %}" height="70px; width:240px;" /></div>
   	<div style="float:right;margin-right:20px;margin-top: 20px;width:55%;">
      <form name="frmlogin" action="login" method="post">
        {% csrf_token %}
   		<table style="margin-left: 170px;width: 400px;">
   			<tr><td>Email or Phone</td><td colspan="2">Password</td></tr>
   			<tr><td><input type="text" required="" name="txte" /></td>
   				<td><input type="password" name="txtp" required="" /></td><td><input type="submit" value="Login" name="btnlogin"  /> </td></tr>
   			<tr><td colspan="3"><center><a href=
   				"" style="margin-left: 70px;color:#83B4D8;">Forgotten account?</a></center></td></tr>

   		</table>

      </form>
      {{key1}}

   	</div>

   </div>
   <!-- Header END  -->
   <!-- Middle Section Start  -->
   <div style="background-color: #E0E4EF;height: 500px; ">
   	<div style="float:left;width:50%;height: 100%;border:1px solid blue;">

     </div>
     <div style="float:right;width:49%;height: 100%;border:1px solid blue;">

      <h1>NEW USER SIGN UP HERE</h1>
       <form name= "frmreg" action="register" method="post">
       {% csrf_token  %}

       <table>
         <tr><td>Enter Email</td><td><input type="email" name="txtemail" required=""> </td></tr>
         <tr><td>Enter Password</td><td>
        <input type="password" name="txtpass" required="">
         </td></tr>
         <tr><td>Enter mobile</td><td><input type="text" name="txtmobile" /> </td></tr>
         <tr><td>Enter Fullname</td><td><input type="text" name="txtfname" /></td></tr>
         <tr><td></td><td><input type="submit" name="btnsubmit" value="Register"></td></tr>


       </table>


       </form>
        {{key}}
     </div>
   </div>
   <!-- Middle End  -->
   <!-- Footer Start  -->
   <div style="background-color: #FFFFFF;height: 100px;">
   	

   	<div style="height: 20%;border:1px solid black;">
     </div>
     <div style="height: 60%;border:1px solid black;">
     </div>
     <div style="height: 20%;border:1px solid black;">
     </div>
   </div>
   <!-- Footer End  -->
</body>
</html>