<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="addstudent" method="post" >
	{% csrf_token %}
<input type="text" name="txtrno" placeholder="enter rno" />
<br>
<br>
<input type="text" name="txtname" placeholder="enter name" />
<br>
<br>
<input type="text" name="txtbranch" placeholder="enter branch" />
<br>
<br>
<input type="text" name="txtfees" placeholder="enter fees" />
<br>
<br>
<input type="submit" name="btnsubmit" value="Add" />



</form>
<a href="viewstudent">View Student Record</a>
</body>
</html>